<a href="https://colab.research.google.com/github/Nagapunith/New-python/blob/master/Assignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a=int(input())
b=int(input())
c=(a+b)
print(c)

8
9
17

In [5]:
a=str(input("enter your name"))
print("hello",a)

enter your namepunith
hello punith

In [7]:
hours=int(input("Enter hours:"))
rate=float(input("Enter rate:"))
pay=hours*rate
print("Pay",pay)

Enter hours:35
Enter rate:2.75
Pay 96.25

In [11]:
width=17
height=12
a=width//2
print(a,type(a))
b=width/2.0
print(b,type(b))
c=height/3
print(c,type(c))
d=1+2*5
print(d,type(d))

8 <class 'int'>
8.5 <class 'float'>
4.0 <class 'float'>
11 <class 'int'>

In [12]:
celsuis=float(input("Enter temperature"))
farenhiet=(celsuis*1.8)+32
print("The temperature in farenhiet",farenhiet)

Enter temperature37.5
The temperature in farenhiet 99.5